body{
    margin: 0;
    background: linear-gradient(black,darkblue,black);
    background-repeat: no-repeat;
    height: 100vh;
}

.div_main_menu{
    overflow: auto;
    white-space: nowrap;
}

.div_main_menu div{
    background: radial-gradient(snow,red,goldenrod);
    border-radius: 50% 50% 50% 50%;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    padding: 2%;
}

.div_main_menu div img{
    width: 50%;
    display: block;
    margin: auto;
}

.div_main_menu div p{
    width: fit-content;
    font-weight: 800;
    margin: auto;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1%;
}


.div_main_menu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .div_main_menu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }



/* ------------------------------------- */

.div_contenedor_main{
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div_insider{
    background-image: radial-gradient(whitesmoke,snow);
    border-radius: 5%;
    margin-top: 5%;
}

.div_insider h1{
    width: fit-content;
    display: block;
    margin: auto;
}

.div_insider p{
    text-align: start;
    font-weight: 800;
}

.div_insider ul{
    list-style:circle;
    font-size: 1.5rem;
    font-family: monospace;
}

.button_option{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35%;
    padding: 2.5% 2%;
    outline: none;
    border: none;
    font-weight: 800;
    margin: 1%;

}

.p_explanation{
    display: inline-block;
    width: 40%;
    font-size: 1rem;
    font-weight: 500;

}

@media 
  (min-device-width: 300px) 
  and (max-device-width: 1024px) 
{

    .div_insider{
        margin: 3%;
        margin-top: 20%;
    }

    .div_insider h1{
        width: fit-content;
        display: block;
        margin: auto;
        font-size: 1.4rem;
    }

    .div_insider ul{
        list-style:none;
        font-size: 1rem;
        list-style:square;
        
    }  
    .div_insider li{
        margin-top: 1%;
    }

    .p_explanation{
        display:flex;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 95%;
        font-size: 0.7rem;
        font-weight: 500;
        margin-top: 0;
        color: rgba(0, 0, 0, 0.7);

    }
}