body{
    margin: 0;

}

.div_contenedor_main{
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div_insider{
    background-image: radial-gradient(whitesmoke,snow);
    border-radius: 5%;
    margin-top: 5%;
}
.div_insider h1{
    width: fit-content;
    display: block;
    margin: auto;
}

.div_insider p{
    text-align: start;
    font-weight: 800;
}

.div_insider ul{
    list-style:circle;
    font-size: 1.5rem;
    font-family: monospace;
}

.button_option{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35%;
    padding: 2.5% 2%;
    outline: none;
    border: none;
    font-weight: 800;
    margin: 1%;

}

.p_explanation{
    display: inline-block;
    width: 40%;
    font-size: 1rem;
    font-weight: 500;

}

@media 
  (min-device-width: 300px) 
  and (max-device-width: 1024px) 
{

    .div_insider{
        margin: 3%;
        margin-top: 20%;
    }

    .div_insider h1{
        width: fit-content;
        display: block;
        margin: auto;
        font-size: 1.4rem;
    }

    .div_insider ul{
        list-style:none;
        font-size: 1rem;
        list-style:square;
        
    }  
    .div_insider li{
        margin-top: 1%;
    }

    .p_explanation{
        display:flex;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 95%;
        font-size: 0.7rem;
        font-weight: 500;
        margin-top: 0;
        color: rgba(0, 0, 0, 0.7);

    }
}